
===== PAGE 1 =====
Sistema  de  Pagamentos    Na  segunda  avaliação  deverá  ser  construído  uma  API  REST ,  seguindo  boas  práticas  de  programação.Você  poderá  escolher  a  linguagem  que  mais  possui  proficiência.   Você  foi  contratado  para  realizar  manutenção  e  otimizar  o  processo  de  um  sistema  de  vendas.  No  atual  sistema,  já  tem-se  modelado  3  entidades,  que  são  cliente,  produto  e  condição  de  pagamento,  com  suas  propriedades  e  atributos  conforme  a  seguir:   
  Especificações:  -  Alterar  este  diagrama,  criar  novas  entidades  e  relacionamentos  de  banco  de  dados  
para
 
completar
 
o
 
modelo.
 
Estabelecendo
 
uma
 
política
 
de
 
preços
 
praticados
 
que
 
formará
 
a
 
tabela
 
de
 
preços
 
do
 
cliente.
 
1.4
 -  Realizar  um  CRUD  completo  a  partir  do  seu  novo  modelo  Entidade-Relacionamento  
do
 
banco
 
de
 
dados.
 
Principalmente
 
realizando
 
um
 
cadastro
 
de
 
preços
 
para
 
uma
 
aplicação
 
web.
 
1.4
 -  Quando  houver  alteração  de  preços  de  um  determinado  produto  já  adquirido  pelo  
cliente,
 
devemos
 
notificá-lo
 
caso
 
este
 
esteja
 
sendo
 
vendido
 
a
 
um
 
preço
 
inferior
 
ao
 
que
 
ele
 
comprou.
 
1.4
 -  Essa  notificação  para  o  cliente,  não  deve  interferir  a  performance  da  aplicação,  ou  
seja,
 
não
 
deve
 
existir
 
uma
 
requisição
 
HTTP
 
para
 
este
 
serviço.
 
1.4
 



===== PAGE 2 =====
-  Será  preciso  gerar   um  relatório  que  mostre  as  vendas  e  produtos  de  um  
determinado
 
cliente,
 
que
 
pode
 
ser
 
localizado
 
através
 
do
 
CNPJ
 
ou
 
Razão
 
Social
 
do
 
mesmo.
 
1.4
   DIFERENCIAIS   Sinta-se  à  vontade  para  usar  as  ferramentas  e  bibliotecas  que  você  julgar  adequadas  e  que  podem  agregar  valor  à  aplicação.  Será  considerado  como  um  diferencial:  -  Utilização  de  mensageria  1,5  -  Clean  Code  1,5   
